
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
width: 75vh;
  overflow-y: auto;
  border-radius: 2%;
  padding: 2%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
body {
  background-color: #f8f3ea;
  font-family: Arial, sans-serif;
  height: auto;
  min-height: 100vh;
  overflow-y: auto;
}

.campo {
  margin-bottom: 1.5rem;
  width: 95%;
}

.campo label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.4rem;
  color: #444;
}

/* INPUTS Y SELECTS */
.input,
.select {
  width: 100%;

  border: 2px solid #c3b3ff; 
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s ease;
  background-color: white;
  color: #000; 
}

.input::placeholder,
.select {
  color: #999;
}

.input:focus,
.select:focus {
  border-color: #8b5cf6;
  color: #000; 
}

.input.error {
  border-color: #f87171;
}

.campo .error-message {
  color: #f87171;
  font-size: 12px;
  margin-top: 0.3rem;
}

/* LINKS */
.agregar-paciente-link {
  display: inline-block;
  margin-bottom: 15px;
  padding: 8px 15px;
  background-color: #E0CAC7;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.agregar-paciente-link:hover {
  background-color: #cfa49e;
  color: #f2f2f2;
}

/* PERSONA A CARGO */
.persona-cargo {
  margin-bottom: 2.5rem; 
}

h3 {
  font-size: 25px;
  margin-bottom: 0.8rem; 
  color: #444;
}

.persona-cargo .input {
  margin-bottom: 0.8rem; 
}

/* BOTÓN ENVIAR */
.boton-enviar {
  width: 100%;
  background-color: #a78bfa; 
  color: white;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.boton-enviar:hover {
  background-color: #8b5cf6; 
}

.boton-enviar:disabled {
  background-color: #d1c4f7;
  cursor: not-allowed;
}
