.roles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  padding: 2%;
  background-color: #fffaf3;
  color: #000;
  height: 70vh;            /* MISMO ALTO QUE RECETAS */
  overflow-y: auto;        /* SCROLL INTERNO */
  border-radius: 3%;
  width: 100vh;
}

.titulo {
  font-size: 24px;
  margin-bottom: 15px;
  color: #000;
  background-color: #fffaf3 ;
}

.agregar-rol-link {
  display: inline-block;
  margin-bottom: 15px;
  padding: 8px 15px;
  background-color: #E0CAC7;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.agregar-rol-link:hover {
  background-color: #cfa49e;
  color: white;
}

/* WRAPPER SCROLL (MISMO QUE RECETAS) */
.tabla-wrapper {
  max-height: 75%;
  overflow-y: auto;
  overflow-x: auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  color: #000;
}

/* TABLA */
.tabla-roles {
  width: 100%;
  border-collapse: collapse;
  color: #000;
}

.tabla-roles th,
.tabla-roles td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 14px;
  color: #000;
}

.tabla-roles th {
  background-color: #fffaf3;
  font-weight: bold;
}

.fila-medico:hover {
  background-color: #fdf9f3;
}

/* FILA INACTIVA */
.fila-medico.inactivo {
  background-color: #f8d7da !important;
  color: #721c24 !important;
}

.btn-editar,
.btn-inactivar {
  background-color: #fcf9f3;
  border: none;
  cursor: pointer;
}

.botones {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.btn-editar svg,
.btn-inactivar svg {
  width: fit-content;
  height: fit-content;
  color: #333;
}
